
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/ProductMgmt.cshtml";
}

@Html.Raw(TempData["LoginSuccessMsg"])

<h2>Dashboard</h2>

<center><h3>Welcome @Session["Name"]</h3></center>



