USE [ProductMgmt]
GO
/****** Object:  Table [dbo].[LoginReg]    Script Date: 06-01-2021 02:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginReg](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LoginReg] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductL]    Script Date: 06-01-2021 02:58:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[Price] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[ShortDescription] [varchar](150) NOT NULL,
	[LongDescription] [varchar](max) NULL,
	[SmallImage] [varchar](max) NOT NULL,
	[LargeImage] [varchar](max) NULL,
 CONSTRAINT [PK_ProductL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LoginReg] ON 

INSERT [dbo].[LoginReg] ([Id], [FirstName], [LastName], [Email], [Password]) VALUES (1, N'Meet', N'Shah', N'meetshah7747@gmail.com', N'1234')
SET IDENTITY_INSERT [dbo].[LoginReg] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductL] ON 

INSERT [dbo].[ProductL] ([Id], [ProductName], [Category], [Price], [Quantity], [ShortDescription], [LongDescription], [SmallImage], [LargeImage]) VALUES (21, N'T-Shirt', N'Shirt', N'230', 1, N'Casual Shirt', N'Informal wear', N'~/Images/SmallImg/Shirt190507647.jpg', N'~/Images/LargeImg/GRAFANA190306678.jpg')
INSERT [dbo].[ProductL] ([Id], [ProductName], [Category], [Price], [Quantity], [ShortDescription], [LongDescription], [SmallImage], [LargeImage]) VALUES (22, N'Orange', N'Fruit', N'70', 3, N'Orange Fruit', N'Rich in Vitamin C', N'~/Images/SmallImg/Orange190723204.jpg', N'NA')
INSERT [dbo].[ProductL] ([Id], [ProductName], [Category], [Price], [Quantity], [ShortDescription], [LongDescription], [SmallImage], [LargeImage]) VALUES (25, N'TV set', N'Electronics', N'11000', 1, N'TV set ', N'sony bravia', N'~/Images/SmallImg/images192950827.jpg', N'NA')
SET IDENTITY_INSERT [dbo].[ProductL] OFF
GO
